<!-- Orders Confirmation Page -->

<div class="container">

  <h1>Order Confirmation:</h1>

  <h3>Order ID:  <%= @order.id %></h3>
  
  <% @order.carted_products.each do |ordered_product| %>
    <h4 class="text-center"><%= ordered_product.product.name %> (<%=ordered_product.quantity %>)</h4>

  <% end %> 

  <h3>Subtotal:  <%= number_to_currency(@order.subtotal) %></h3>
  <h3>Sales Tax:  <%= number_to_currency(@order.tax) %></h3>
  <h3>Total Price:  <%= number_to_currency(@order.total_price) %></h3>
  <h3>Order Created On:  <%= @order.friendly_created_at %></h3>
  <h3>Email:  <%= current_user.email %></h3>

  <h3><%=link_to "Main Page", "/products"%></h3>

</div>
