<h1>Here's your cart:</h1>

<% @carted_products.each do |carted_product| %>
  
  <h3 class="text-center"><%= carted_product.product.name %> (<%=carted_product.quantity %>) <%=link_to "Remove From Cart", "/carted_products/#{carted_product.id}", method: :delete %></h3>

<% end %>

<h5>
  <%= form_tag "/orders", method: :post do %>
      <div>
      <%= submit_tag "Buy Now!" %>
      </div>
  <% end %>
</h5>