<div class="container">

  <h1>Mark's Market</h1>

  <h2>Check out these great   products:</h2>

  <div class="row">

    <% @products.each do |product|  %>

    <div class="col-md-3">

      <a href="/products/<%=product.id%>"><h3 class="text-center"><%= product.name %></h3>
      <img class="center-block img-responsive img-rounded" src="<%=  product.image %>">
      <h4 class="text-center">Price:  <%= product.price %></h4></a>
      <h5 class="text-center"><%=link_to "Edit Product", "/products/#{product.id}/edit"%></h5>

    </div>

    <% end %>

  </div>

  <h5><%=link_to "Add New Product", "/products/new"%></h5>

</div>
